body{
    
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px 20px;
}

h1 {
	color: whitesmoke;
	background-color: #ffbd33;
	padding: 10px;
	border-radius:0 20px;
	text-align: center;
}


h2 {
    color: teal;
}